/* main css */

.mainHeading{
    color:#A4A400 ;
    background-color: #F0F0F0;
    font-family: Lucida Sans Unicode, Helvetica, Arial, or any sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
}
.heading{
    text-align: left;
    font-size: 18pt;
    color:#A4A400 ;
    text-decoration: underline;
    background-color: #F0F0F0;
}
.piePreparation{
    margin-block-start:0em;
    margin-block-end: 0em;
}

.bodyText{
    color: #404040;
    font-size: 11pt;
    font-family: Georgia, Garamond, serif;
}

.underlineText{
    text-decoration: underline;
}
.userComment{
    background-color: rgb(255, 255, 153);
    font-style: italic;
}
a{
    color: #A4A400;
}